.tableElement{
     margin:0px;
    padding:5px;
    text-align: left;
}
#header{
    background-color: #1e8cff;
    color:white;
    margin:0px;
    padding: 5%;
    padding-left: 1%;
    
}
#body{
    padding:2%;
    padding-left:5%;
}
#genInfo{
    padding: 1%;
    padding-top:0px;
    width:50%;
    float:left;
}
#recPic{
    float:left;
    width:10%;
    height:auto;
}
#detInfo{
    padding: 1%;
    clear:both;
}
.recipient{
    padding: 1%;
}
.key{
    font-weight: bold;
}

.value{
    text-indent: 25px;
}

.subKey{
    font-weight: bold;
    text-indent: 25px;
}
.subValue{
    text-indent: 50px;
}

.subsubKey{
    font-weight: bold;
    text-indent: 50px;
}
.subsubValue{
    text-indent: 75px;
}

table{
    width:90%;
    
}

th{
    background-color: black;
    color:white;
}
th:hover{
    cursor:initial;
}

tr:nth-child(even){
    background-color: lightgray;
}
tr:nth-child(odd){
    background-color: gray;
}

tr:hover{
    color:white;
    background-color: #1a1a1a;
    cursor: pointer;
}

button{
    border: 0px;
    background-color: #1e8cff;
    color: white;
    padding: 10px;
}
button:hover{
    background-color: #1e8cbe;
    cursor: pointer;
}